<!-- Footer -->
<footer>
    <div class="container" style="width: 50%;">
        <div class="row">
            <div class="col-md-8">
                <ul class="list-inline">
                    <li>
                        <a href="https://konnor-filip.github.io/Learn2Surf/">Home</a>
                    </li>
                    <li class="footer-menu-divider">&sdot;</li>
                    <li>
                        <a href="https://konnor-filip.github.io/Learn2Surf/modules/modules">Modules</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>
