<!-- Footer -->
<footer>
    <div class="container">
        <div>
            <div>
                <ul>
                    <li>
                        <a href="https://konnor-filip.github.io/Learn2Surf/">home</a>
                    </li>
                    <li class="footer-menu-divider">&sdot;</li>
                    <li>
                        <a href="https://konnor-filip.github.io/Learn2Surf/modules/modules">Modules</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>
