<section id="services">
  
    <h1>Course: Authentication</h1>
    <br>
    <h2>Module: Password Safety</h2>
    <h3>Module Time: TBA</h3>
    <h3>Assumptions: Assume that the student knows what a password is for (logging into an account).</h3>
    <h3>Materials: Projector for slides, access to a computer </h3>
    <h3>Definitions:</h3>
    <ul>
        <li>Password</li>
        <li>Brute Force Attack</li>
        <li>Dictionary Attack</li>
        <li>Password Reuse Attack</li>
    </ul>
    <h3>Learning Objectives:</h3>
    <ul>
        <li>Students will be able to understand the rational behind the most common password attacks and how they can compromise a
        password.</li>
        <li>Students will be able to differentiate between good and bad passwords with regards to the most common password attacks.</li>
        <li>Students will be able to construct passwords that are both memorable and secure against the most common password
        attacks.</li>
        <li>Students will be able to create memorization techniques that will allow the students to more easily remember secure
        passwords.</li>
        <li>Students will be able to recognize a social engineering attempt to gain password information.</li>
        <li>Students recognize the different aspects of password safety.
            <ul>
                <li>Students will be able to explain why recording passwords reduces their effectiveness</li>
                <li>Students will be able to explain why password reuse can create problems.</li>
                <li>Students will be able to explain why password sharing can be dangerous.</li>
            </ul>
        </li>
    </ul>
    <h4>Make sure that students do NOT use their own passwords during activities</h4>
    <h3>Class Discovery (Teacher):</h3>
    <h4>What type of groups does your class work well in? What size of groups can you divide your class into? What ways do your
    students learn best?</h4>
    <h3>Password Safety Module Overview:</h3>
    <ul>
        <li>How are passwords cracked?</li>
        <li>How do we create a strong password?</li>
        <li>How can we remember our passwords?</li>
    </ul>
    <h3>Warm-Up:</h3>
    <p>Teacher shows multiple passwords on screen. Students use Think Pair Share to determine which passwords are good and
    which are bad.</p>
    <h3>Whole Class Discussion (PowerPoint Slides):</h3>
    <p>Teacher will ask the students input on where they use passwords in their lives. Ex. social media, email, school accounts
    etc. Teacher has a discussion with the class on why they believe it is important to have a password on their
    information. Then leads into how to build a strong password. (Slides needed) After slides they will move into three
    activities.</p>
    <h3>Group Activity 2/3 way through lesson:</h3>
    <p>Students get in groups Make a password that they believe is secure Discuss why they think it is a good password Check
    password against <a href="https://howsecureismypassword.net/">https://howsecureismypassword.net/</a>
    
    Students pair up and one is assigned the password protector and one is assigned the password getter. The protector is
    given a password and they must prevent the getter from retrieving the password. The getter can use any methods they can
    think of to try and social engineer the protector to giving up the password.</p>
    <h3>Individual Wrap-up (Worksheet):</h3>
    <p>Have students share what they learned through this exercise. Also have them think about how the passwords will affect
    their lives and how they can implement what they learned in class.</p>
    <h3>Teacher Reflection:</h3>
    <p>Up to teacher to determine if they enjoyed the lesson and would like to teach it further.</p>


</section>
